################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/CookieClickerRPA/.vs
/CookieClickerRPA/SeleniumBOT/bin/Debug/net8.0
/CookieClickerRPA/EasyAutomationBOT/bin/Debug/net8.0
